* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 86.7vh;
    background: #3586ff;
}

.form {
    width: 400px;
    background: #3530ff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 5px 5px 8px black;
}

.form p {
    font-size: 1.2em;
}

.form h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.inputs {
    width: 100%;
    background: #3586ff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.custom-checkbox {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    display: inline-block;
    border-radius: 3px;
    background: white url(../img/checkbox_png.png) center/1250% no-repeat;
    transition: background-size 0.15s cubic-bezier(0.7, 0, 0.18, 1.24)
}

.custom-checkbox input:checked + .checkmark {
    background-size: 60%;
    transition: background-size 0.15s cubic-bezier(0.7, 0, 0.18, 1.24)
}

.custom-checkbox input {
    display: none;
    
}

#boton {
    width: 100%;
    background: #270082;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}



#waves .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}


#waves .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

#waves .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

#waves .wave.wave3 {
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

#waves .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate 
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

@keyframes animate2 
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}